#animals {
    position: absolute;
    bottom: 0;
  }  
#dropBox1{
    height: 50%;
    width: 45%;
    border: 1px solid black;
    position: absolute;
    margin: 5px;
    top: 0;
    left: 0;
}
#dropBox2{
    height: 50%;
    width: 45%;
    border: 1px solid black;
    position: absolute;
    margin: 5px;
    top: 0;
    right: 0;
}
#dropBox3{
    height: 50px;
    width: 100px;
    border: 1px solid black;
    position: absolute;
    bottom: 70%;
    right: 25%;
}
#dropBox4{
    height: 50px;
    width: 100px;
    border: 1px solid black;
    position: absolute;
    bottom: 60%;
    right: 35%;
}
#dropBox5{
    height: 50px;
    width: 200px;
    border: 1px solid black;
    transform: rotate(20deg);
    position: absolute;
    top:20%;
    left: 40%;
}
#dropBox6{
    height: 50px;
    width: 200px;
    border: 1px solid black;
    transform: rotate(20deg);
    position: absolute;
    top:30%;
    left: 40%;
}
img {
  height: 200px;
  object-fit: cover;
  width: 200px;
}