input{
    font-weight: bold;
}
body{
    font-family: 'Roboto Mono', monospace;
    font-size: 0.85rem;
}
#simulatorWrapper{
    position: relative;
    width: 798px;
    height:598px;
    margin:auto;
    border: 1px solid black;
}
#titleWrapper{
    text-align: center;
}
#title{
    margin: 0;
    height: 28px;
    border: 1px solid black;
    background-color: #221f3b;
    color: #ebebeb;
}
#inputWrapper{
    width: 199px;
    height: 189px;
    position :absolute;
    top:30;
    left: 0;
    border: 1px solid black;
    border-top: 0;
    border-left: 0;
}
#pendulumWrapper{
    position: absolute;
    right: 0;
    top: 30px;
    height: 284px;
    width:600px;
    border-bottom: 1px solid black;
}
#controlsWrapper{
    position:absolute;
    top: 220px;
    width:199px;
    height: 189px;
    border: 1px solid black;
    border-top: 0;
    border-left: 0;
}
.space{
    margin:10px 0px 20px 10px;
}
#simulationSpeed{
    margin: 0;
}
#chartWrapper{
    position: absolute;
    right: 0;
    top: 315px;
    height: 285px;
    width:598px;
}
#outputWrapper{    
    position: absolute;
    height: 190px;
    width: 199px;
    bottom: 0;
    left: 0;
    border-right: 1px solid black;
}
.output{
    margin-bottom: 5px;
    font-weight: bold;
}
#myChart{
    height: 224.68px;
    width: auto;
    padding: 10px;
}
h3{
    font-weight: bolder;
    margin-top: 0;
    text-align: center;
    background-color: #f08a5d;
    color: #ebebeb;
}