#section{
    height: 100%;
}
#simulation{
    height: 60%;
    border-right: 2px solid black;    
}
#variables{
    height: 60%;
}
#controls{
    height: 40%;
}
#result{
    height: 40%;
    border-right: 2px solid black;
}

@media only screen and (max-width: 770px) {
    #simulation{
        height: 50%;
        border-right: 0px;    
    }
    #result{
        height: 30%;
        border-right: 0px;
    }
    #variables{
        height: 20%;
    }
    #controls{
        height: 20%;
    }
}
  