.center{
    text-align: center;
}

body{
  margin: 0;
}

.header{
    background-color: #2B3856;
    color: white;
    margin: 0;
    padding: 0;
}

.heading{
    font-size: 40px;
    padding: 6px;
    margin: 0;
}

button {
  height: 30px;       
  width: 150px !important;
  border-radius: 0px;
  border-style: outset;
  border-width: 2px;
  margin-left: 70px;
  font: bold 20px sans-serif;
  } 
.pos3{
	left: 200px !important;
    margin-top: 280px !important;
}   
.pos1{
	margin-top: 280px !important;
}
input[type="text"] {
    left: 130px !important;
    width: 60px !important;
}

div#total {
  position: relative;
  }

div#canvas {
  position: absolute;
  background-color: #eae7dc;
  border: 3px solid #000000;
  }
  
div#panel{
	width: 240px !important;
	left: 910px !important;
}

div#panel, div#panel1, div#panel2 {
  position: absolute;
  background-color: #8e8d8a;
  border: 3px solid #000000;
  font: bold 18px sans-serif;
  }
  
div#panel div , div#panel1 div, div#panel2 div {
  position: absolute;
  }

input[type="checkbox"] {
  margin-left: 10px;
  border-radius: 0px; 
  }

input[type="radio"] {
  margin-left: 10px;  
  }

input[type="range"] {
  position: absolute;
  left: 10px;
  }

input[type="text"] {
  position: absolute;
  padding-left: 2px;
  margin-top: 280px;
  height: 20px;
  border-radius: 0px;
  border-color: #000000;
  border-width: 1px;
  font: bold 18px sans-serif;
  } 
  
label {
  margin-left: 20px;
  vertical-align: 2px;  
  }

select {
  position: absolute;
  top: -3px;
  left: 10px;
  height: 20px;
  border-radius: 0px;
  font: bold 18px sans-serif;
  } 
  
div#panel span, div#panel1 span, div#panel2 span {
  position: absolute;
  margin-top: 350px;
  white-space: nowrap;
  font: bold 18px sans-serif;
  }

textarea {
  position: absolute;
  padding: 3px;
  left: 10px;
  border-radius: 0px;
  font: bold 18px sans-serif;
  line-height: 1.25;
  }
  
footer{
  text-align: center;
  margin-top: 7px;
  }

html{  
  border-color: #000000;  
  border-width: 2px;  
  height: 600px !important;
  width : 1155px !important;
  border-style: solid; 
  font-family: "Times New Roman", Times, serif;
  }  
